<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>Nunito</string>
	<key>styleName</key>
	<string>Medium</string>
	<key>copyright</key>
	<string></string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>1035</integer>
	<key>capHeight</key>
	<integer>1430</integer>
	<key>ascender</key>
	<integer>2030</integer>
	<key>descender</key>
	<integer>-675</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2013/12/30 21:02:11</string>
	<key>openTypeNameVersion</key>
	<string>Version 2</string>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>3</integer>
	</array>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>500</integer>
	<key>openTypeOS2VendorID</key>
	<string>NeWT</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1638</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>410</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2036</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>-617</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>5583</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>5155</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>645</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>5583</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>5155</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>3006</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>102</integer>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>512</integer>
	<key>postscriptFontName</key>
	<string>Nunito-Medium</string>
	<key>postscriptFullName</key>
	<string>Nunito Medium</string>
	<key>postscriptWeightName</key>
	<string>Medium</string>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-28</integer>
		<integer>2</integer>
		<integer>997</integer>
		<integer>1013</integer>
		<integer>1430</integer>
		<integer>1456</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-432</integer>
		<integer>-379</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>145</integer>
		<integer>181</integer>
		<integer>231</integer>
	</array>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueScale</key>
	<real>0.0396</real>
    </dict>
</plist>
