<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>Nunito</string>
	<key>styleName</key>
	<string>ExtraLight</string>
	<key>copyright</key>
	<string>Font Data Copyright (c) 2013, vernon adams</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>1028</integer>
	<key>capHeight</key>
	<integer>1426</integer>
	<key>ascender</key>
	<integer>2030</integer>
	<key>descender</key>
	<integer>-675</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2013/12/30 20:54:33</string>
	<key>openTypeNameLicense</key>
	<string>Copyright (c) 2013, vernon adams

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameVersion</key>
	<string>Version 2</string>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>200</integer>
	<key>openTypeOS2VendorID</key>
	<string>NeWT</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1638</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-410</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1995</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>579</integer>
	<key>postscriptFontName</key>
	<string>Nunito-ExtraLight</string>
	<key>postscriptFullName</key>
	<string>Nunito ExtraLight</string>
	<key>postscriptWeightName</key>
	<string>ExtraLight</string>
	<key>postscriptUnderlineThickness</key>
	<integer>0</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>0</integer>
    </dict>
</plist>
